header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.menu-button {
    top: 35px;
    right: 35px;
    position: absolute;
    z-index: 3;
    transition: all 0.5s ease-out;
}

.btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out;
}