/* NAVBAR STARTS HERE */

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: black;
}

.menu-button {
    top: 35px;
    right: 35px;
    position: absolute;
    z-index: 3;
    transition: all 0.5s ease-out;
}

.btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out;
}

.close {
    transform: rotate(180deg);
}

.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.close .btn-line:nth-child(2) {
    opacity: 0;
}
.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}